* { 
  font-family: "Iosevka Nerd Font";
  font-size: 10pt;
}

window#waybar {
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

/* #workspaces button { */
/*     padding: 0 5px; */
/*     background: transparent; */
/*     color: white; */
/*     border-bottom: 3px solid transparent; */
/* } */
/**/
/* #workspaces button.focused { */
/*     background: #64727D; */
/*     border-bottom: 3px solid white; */
/* } */

#workspaces button {
  font-size: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 25%;
}

#workspaces button.focused {
  background: #FF8C00;
  border-radius: 75%;
}

#mode {
  margin: 2px;
  background-color: #e0af68;
}

#mode, #clock, #pulseaudio {
  padding: 0 10px;
}
